<form class="form">
  <!-- ============================================== -->
  <div class="form__group">
    <div class="form__group-label">
      <label>Nombre</label>
    </div>
    <div class="form__group-input">
      <input type="text" placeholder="Ingrese su nombre" />
      <div class="form__group-error">
        <p>El campo es requerido</p>
      </div>
    </div>
  </div>
  <!-- ============================================== -->
  <div class="form__group">
    <div class="form__group-label">
      <label>Apellido</label>
    </div>
    <div class="form__group-input">
      <input type="text" placeholder="Ingrese su apellido" />
      <div class="form__group-error">
        <p>El campo es requerido</p>
      </div>
    </div>
  </div>
  <!-- ============================================== -->
  <div class="form__group">
    <div class="form__group-label">
      <label>Email</label>
    </div>
    <div class="form__group-input">
      <input type="text" placeholder="Ingrese su email" />
      <div class="form__group-error">
        <p>El campo es requerido</p>
      </div>
    </div>
  </div>
  <!-- ============================================== -->
  <div class="form__group">
    <div class="form__group-label">
      <label>Edad</label>
    </div>
    <div class="form__group-input">
      <input type="text" placeholder="Ingrese su edad" />
      <div class="form__group-error">
        <p>El campo es requerido</p>
      </div>
    </div>
  </div>
  <!-- ============================================== -->
  <div class="form__group">
    <div class="form__group-label">
      <label>Departamento</label>
    </div>
    <div class="form__group-select">
      <select title="Seleccione su departamento">
        <option value="system">Informática</option>
        <option value="marketing">Marketing</option>
        <option value="contability">Contabilidad</option>
      </select>
      <div class="form__group-error">
        <p>El campo es requerido</p>
      </div>
    </div>
  </div>
  <div class="form__group">
    <div class="form__group-label">
      <label>Password</label>
    </div>
    <div class="form__group-input">
      <input type="password" placeholder="Ingrese su password" />
      <div class="form__group-error">
        <p>El campo es requerido</p>
      </div>
    </div>
  </div>
  <div class="form__group">
    <div class="form__group-label">
      <label>Imagen</label>
    </div>
    <div class="form__group-input">
      <input type="text" placeholder="Ingrese la dirección web de su imagen" />
      <div class="form__group-error">
        <p>El campo es requerido</p>
      </div>
    </div>
  </div>
  <!-- ============================================== -->
</form>
